/* 
    Trabajo de Matias Piedra (354007) & Joaquin Piedra (304804)
*/

*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
}

body {
    background-color: #F2F1F9;
    color: #000;
    margin: 0;
}

header {
    text-align: center;
    background-color: #98fb98;
    margin: 0;
    padding: 32px;
}

.subtitle {
    margin: 16px;
    font-weight: bold;
}

.headerButton {
    padding: 4px 9px;
    border-color: #aaa;
    border-style: solid;
    font-weight: bold;
    border-radius: 4px;
} .headerButton:hover{
    cursor: pointer;
    background-color: #ddd;
} .headerButton:active{
    background-color: #bbb;
}

/* --------------------------------------- */

.inputContainer{
    display: flex;
    justify-content: space-between;
}

#sectionIngresos {
    background-color: #98fb98;
    margin: 20px;
    overflow: hidden;
    padding: 24px 28px;
    border-radius: 24px;
} #sectionIngresos .sectionForm {
    background-color: #a4eba4;
    margin: 10px;
    width: 30%;
    height: fit-content;
    padding: 10px;
    text-align: left;
    padding: 20px 10px;
    font-weight: bold;
} #sectionIngresos form label {
    margin-top: 16px;
    margin-bottom: 8px;
    display: block;
} #sectionIngresos form > input, #sectionIngresos form textarea {
    width: 95%;
    height: 24px;
    padding: 4px 8px;
    border: 2px solid #aaa;
    border-radius: 4px;
} #sectionIngresos form textarea {
    resize: vertical;
    height: 48px;
} #sectionIngresos .button {
    margin-top: 16px;
} #sectionIngresos > h2 {
    margin-top: 17px;
    margin-bottom: 15px;
}



.elegirArtista {
    display: flex;
    align-items: start;
    margin: 10px 0;
    gap: 4px;
} .elegirArtista button {
    padding: 8px 6px;
}

.listaArtistas {
    width: 50%;
    height: 92px;
    border: 2px solid #aaa;
    border-radius: 4px;
}



#exposicion {
    width: 200px;
}



.button {
    background-color: #4caf50;
    color: #fff;
    padding: 7px 12px;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid transparent;
    border-color: #4caf50 #409044 #409044 #4caf50; 
    font-size: 15px;
} .button:hover {
    background-color: #5ac55e;
    border-color: #5ac55e #4caf50 #4caf50 #5ac55e; 
} .button:active{
    background-color: #409044;
    border-color: #409044; 
}



.imagen {
    width: 60px;
    height: 60px;
    cursor: pointer;
} .imagen:hover{
    outline: black solid 2px;
} 

.calificacionList{
    width: 100%;
    display: inline-flex;
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
} .calificacionList input {
    display: none;
} .calificacionList input:checked + img{
    outline: black solid 3px;
} .calificacionList li {
    margin: 5px;
}


.visitaGuiada {
    display: inline-flex;
    width: 100%;
    justify-content: start;
    align-items: center;

} .visitaGuiada label {
    margin: 0 !important;
} .visitaGuiada input {
    margin: 0 15px;
}

#sectionInfo {
    background-color: #98fb98;
    margin: 20px 48px;
    font-weight: normal;
    padding: 24px 28px;
    border-radius: 30px;
} #sectionInfo > h2 {
    margin-bottom: 18px;
    margin-top: 17px;
}



h3, h2 {
    font-size: 25px;
}


#sectionInfo ul {
    list-style-type: square;
    margin: 18px 38px;
    font-weight: normal;
} #sectionInfo form label {
    display: block;
    margin-bottom: 8px;
    padding: 0;
} #sectionInfo form select {
    padding-right: 8px;
    margin-bottom: 32px;
} #sectionInfo table {
    width: 100%;
    margin: 8px 0;
    border-spacing: 0;
    outline-offset: -4px;
    border-collapse: collapse;
} #sectionInfo th, td {
    border: 5px double black;
    padding: 16px 0;
    text-align: center;
    vertical-align: middle;
} #sectionInfo td {
    padding: 6px 0;
} #sectionInfo .tableRow {
    outline: 5px double #000;
    outline-offset: -2px;
} #sectionInfo th {
    background-color: #f2f2f2;
    font-weight: bold;
} #sectionInfo table th:last-child {
    max-width: 150px;
} #sectionInfo table button {
    padding: 5px 12px;
} #sectionInfo p, label{
    font-weight: bold;
}

#sectionInfo #exposicionFiltro{
    width: 200px;
}